@import "@ionic/core/css/core.css";
@import "@ionic/core/css/palettes/dark.always.css";
@import "./theme.css";

ion-card-title {
  padding: 16px;
}

ion-chip {
  border: 1px solid rgba(var(--ion-color-base-rgb), 0.32);
}

@font-face {
  font-family: 'Trajan Pro';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/trajan-pro.woff") format("woff");
}

.font-trojan-pro {
  margin-top: 4px;
  font-family: 'Trajan Pro';
}